*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    display: grid;
}

/*number of rows*/
body{
    grid-template-rows: auto minmax(1fr, 100dvh);
}


/*navbar*/
.navbar{

    & img[alt="logo-img"]{
        width: 5rem;
    }
}

/*all images*/
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 6rem;
}

:is(h2, footer p){
    text-align: center;
}

